@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --main-color: #185519;
    --second-color: #C62300;
    --orange: #ff8000;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: 0.5rem solid rgba(0, 0, 0, 0.2);
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

*::-webkit-scrollbar {
    height: 0.5 rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
    padding-left: 30rem;
}

body.active{
    padding-left: 0;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn,
.inline-btn {
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
    background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--second-color);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.headder {
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.headder .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headder .flex .logo {
    font-size: 3rem;
    color: var(--second-color);
    font-weight: 800;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.headder .flex .logo img {
    width: 5rem;
    height: auto;
    display: block;
}

.headder .flex .search-form {
    width: 50rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 1rem;
    background-color: var(--second-color);
}

.headder .flex .search-form input {
    width: 100%;
    background: none;
    font-size: 1.8rem;
    color: var(--white);
}

.headder .flex .search-form input::placeholder {
    color: var(--light-bg);
}

.headder .flex .search-form button {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    background: none;
}

.headder .flex .search-form button:hover {
    color: var(--light-color);
}

.headder .flex .icons div {
    font-size: 2rem;
    color: var(--white);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--second-color);
    text-align: center;
    margin-left: .5rem;
}

.headder .flex .icons div:hover {
    background-color: var(--main-color);
    color: var(--white);
}

#search-btn {
    display: none;
}

.headder .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    transition: 0.5s linear;
}

.headder .flex .profile.active {
    transform: scale(1);
    transition: all 0.5s ease-in;
}

.headder .flex .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.headder .flex .profile h3 {
    font-size: 2rem;
    color: var(--black);
}

.headder .flex .profile span {
    color: var(--light-color);
    font-size: 1.5rem;
}

.side-bar
{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    transition: all 0.2s ease-out;
    z-index: 1200;
}

.side-bar .close-side-bar
{
    text-align: right;
    padding: 2rem;
    display: none;
}

.side-bar .close-side-bar i
{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--second-color);
    text-align: center;
    border-radius: 50%;
}

.side-bar .close-side-bar i:hover
{
    background-color: var(--black);
}

.side-bar .profile
{
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.side-bar .profile h3{
    font-size: 2rem;
    color: var(--black);
}

.side-bar .profile span
{
    color: var(--light-color);
    font-size: 1.6rem;
}

.side-bar .navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.side-bar .navbar a i
{
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.side-bar .navbar a span
{
    color: var(--light-color);
}

.side-bar .navbar a:hover
{
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i
{
    margin-right: 2rem;
}

.side-bar.active
{
    left: -31rem;
}











.footer
{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 1000;
}

.footer span
{
    color: var(--main-color);
    font-weight: 700;
}










/* Responsive style */
@media (max-width:1400px)
{
    body
    {
        padding-left: 0;
    }

    .side-bar
    {
        transition: all .2s ease-in-out;
        left: -30rem;
    }

    .side-bar.active
    {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    }

    .side-bar .close-side-bar
    {
        display: block;
    }
}

@media (max-width:1200px) {
    body
    {
        padding-left: 0;
    }

    .side-bar
    {
        transition: all .2s ease-in-out;
        left: -30rem;
    }

    .side-bar.active
    {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    }

    .side-bar .close-side-bar
    {
        display: block;
    }
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }

    #search-btn {
        display: inline-block;
    }

    .headder .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--second-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
        transition: all 0.3s ease-in-out;
        z-index: 999;
    }

    .headder .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .headder .flex .profile.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}